<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>web pos</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.css">
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="../styles/main.css">
    <!-- endbuild -->
</head>
<body role="document">

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Let's Go</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="../index.html">主页</a></li>
                <li><a href="itemlist.html">商品列表</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="active"> <a><span class=" glyphicon glyphicon-shopping-cart"></span>购物车(<span id="item-numbers">0</span>)</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<div class="container theme-showcase" role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron ">
        <div class="container-fluid">
            <div class="row-fluid">
                商品列表
            </div>
        </div>
    </div>
    <table class="table table-bordered text_center">
        <thead>
        <tr>
            <th class="text_center">
                名称
            </th>
            <th class="text_center">
                单价（元）
            </th>
            <th class="text_center">
                单位
            </th>
            <th class="text_center">
                数量
            </th>
            <td class="text_center">
                小计
            </td>
        </tr>
        </thead>
        <tbody>
        <tr class="cola">
            <td style="width: 218px;">
                可口可乐
            </td>
            <td style="width: 218px;">
                3
            </td>
            <td>
                瓶
            </td>
            <td>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="input-group input-grounp_width">
                             <span class="input-group-btn">
                                 <button class="btn btn-default sub-cola" type="button">-</button>
                             </span>
                            <input type="text" id="input-cola" class="form-control" value="3">
                            <span class="input-group-btn">
                                 <button class="btn btn-default add-cola" type="button">+</button>
                             </span>
                        </div><!-- /input-group -->
                     </div><!-- /.row -->
                </div>
            </td>
            <td>
                <span id="minor_cola">9</span>
            </td>
        </tr>
        <tr class="spring">
            <td style="width: 218px;">
                雪碧
            </td>
            <td style="width: 218px;">
                3
            </td>
            <td>
                瓶
            </td>
            <td>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="input-group input-grounp_width">
                             <span class="input-group-btn">
                                 <button class="btn btn-default sub-spring" type="button">-</button>
                             </span>
                            <input type="text" id="input-spring" class="form-control" value="1">
                            <span class="input-group-btn">
                                 <button class="btn btn-default add-spring" type="button">+</button>
                             </span>
                        </div><!-- /input-group -->
                    </div><!-- /.row -->
                </div>
            </td>
            <td>
                <span id="minor_spring">9</span>
            </td>
        </tr>
        <tr class="apple">
            <td style="width: 218px;">
                苹果
            </td>
            <td style="width: 218px;">
                5.5
            </td>
            <td>
                斤
            </td>
            <td>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="input-group input-grounp_width">
                             <span class="input-group-btn">
                                 <button class="btn btn-default sub-apple" type="button">-</button>
                             </span>
                            <input type="text" id="input-apple" class="form-control" value="1">
                            <span class="input-group-btn">
                                 <button class="btn btn-default add-apple" type="button">+</button>
                             </span>
                        </div><!-- /input-group -->
                    </div><!-- /.row -->
                </div>
            </td>
            <td>
                <span id="minor_apple">9</span>
            </td>
        </tr>
        <tr class="litchi">
            <td style="width: 218px;">
                荔枝
            </td>
            <td style="width: 218px;">
                15
            </td>
            <td>
                斤
            </td>
            <td>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="input-group input-grounp_width">
                             <span class="input-group-btn">
                                 <button class="btn btn-default sub-litchi" type="button">-</button>
                             </span>
                             <input type="text" id="input-litchi" class="form-control" value="1">
                             <span class="input-group-btn">
                                 <button class="btn btn-default add-litchi" type="button">+</button>
                              </span>
                        </div><!-- /input-group -->
                    </div><!-- /.row -->
                </div>
            </td>
            <td>
                <span id="minor_litchi">9</span>
            </td>
        </tr>
        <tr class="buttery">
            <td style="width: 218px;">
                电池
            </td>
            <td style="width: 218px;">
                2
            </td>
            <td>
                个
            </td>
            <td>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="input-group input-grounp_width">
                             <span class="input-group-btn">
                                 <button class="btn btn-default sub-buttery" type="button">-</button>
                             </span>
                            <input type="text" id="input-buttery" class="form-control" value="1">
                            <span class="input-group-btn">
                                 <button class="btn btn-default add-buttery" type="button">+</button>
                             </span>
                        </div><!-- /input-group -->
                    </div><!-- /.row -->
                </div>
            </td>
            <td>
                <span id="minor_buttery">9</span>
            </td>
        </tr>
        <tr class="noodle">
            <td style="width: 218px;">
                方便面
            </td>
            <td style="width: 218px;">
                4.5
            </td>
            <td>
                袋
            </td>
            <td>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="input-group input-grounp_width">
                             <span class="input-group-btn">
                                 <button class="btn btn-default sub-noodle" type="button">-</button>
                             </span>
                            <input type="text" id="input-noodle" class="form-control" value="1">
                            <span class="input-group-btn">
                                 <button class="btn btn-default add-noodle" type="button">+</button>
                             </span>
                        </div><!-- /input-group -->
                    </div><!-- /.row -->
                </div>
            </td>
            <td>
                <span id="minor_noodle">9</span>
            </td>
        </tr>
        </tbody>
    </table>
    <p align="right">总计：<span id="total">0</span>元</p>
    <p align="right"><a href="pay.html" class="btn btn-primary btn-lg" role="button">付款</a></p>
</div>


<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="../../bower_components/jquery/dist/jquery.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-XXXXX-X');ga('send','pageview');
</script>

<!-- build:js scripts/plugins.js -->
<script src="../../bower_components/bootstrap/js/affix.js"></script>
<script src="../../bower_components/bootstrap/js/alert.js"></script>
<script src="../../bower_components/bootstrap/js/dropdown.js"></script>
<script src="../../bower_components/bootstrap/js/tooltip.js"></script>
<script src="../../bower_components/bootstrap/js/modal.js"></script>
<script src="../../bower_components/bootstrap/js/transition.js"></script>
<script src="../../bower_components/bootstrap/js/button.js"></script>
<script src="../../bower_components/bootstrap/js/popover.js"></script>
<script src="../../bower_components/bootstrap/js/carousel.js"></script>
<script src="../../bower_components/bootstrap/js/scrollspy.js"></script>
<script src="../../bower_components/bootstrap/js/collapse.js"></script>
<script src="../../bower_components/bootstrap/js/tab.js"></script>
<!-- endbuild -->

<!-- build:js({app,.tmp}) scripts/main.js -->
<script src="../scripts/cart.js"></script>
<script src="../underscore.js"></script>

<!-- endbuild -->
</body>
</html>
